@import url(http://fonts.googleapis.com/css?family=Martel:200,300,400,600);

/* Wrapper */
body {
	font-family: 'Martel', serif;
	color: #666666;
	overflow-x: hidden;
	overflow-y: scroll;
	font-weight: 300;
}
.wrapper {
	background-color: #d4d4d4;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

/* Typed */
.typed {
	display: inline;
	color: #666666;
}
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* Cards */
.title {
	color: #fff;
}
.copy {
	font-size: 1.5em;
	line-height: 1.3em;
	height: 100%;
	padding: 2em;
}
.button,
.button-1,
.button-2,
.button-3,
.button-4 {
	position: absolute;
	bottom: 2em;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 3em;
	height: 3em;
}
.button-1 {
	bottom: 13em;
	left: 6em;
}
.button-2 {
	bottom: 13em;
	right: 6em;
}
.button-3 {
	bottom: 7em;
	left: 6em;
}
.button-4 {
	bottom: 7em;
	right: 6em;
}
.button img, 
.button-1 img,
.button-2 img,
.button-3 img,
.button-4 img {
	height: 3em;
}
.button a, 
.button-1 a,
.button-2 a,
.button-3 a,
.button-4 a {
	outline: 0;
}
.elasticstack .intro {
	background-color: #f1f1f1;
}
.elasticstack .fiction {
	background-color: #3c3c3c;
}
.elasticstack .porkicons {
	background-color: #cb1239;
}
.elasticstack .social {
	background-color: #0c856c;
}
.elasticstack .dark {
	color: #d4d4d4;
}

/* Media queries */
@media (max-width: 736px) and (-webkit-min-device-pixel-ratio: 2) { 
	.wrapper {
		align-items: left;
		padding-top: 3em;
	}
  	.elasticstack {
  		width: 250px !important;
  		height: 350px !important;
  	}
  	.elasticstack li {
  		width: 250px !important;
  		height: 350px !important;
  	}
 	.copy {
  		font-size: 1.3em;
  		padding: 1.5em;
  	}
	.button-1,
	.button-2 {
		bottom: 12.2em;
	}
	.button-3,
	.button-4 {
		bottom: 6.2em;
	}
}