@import url(http://fonts.googleapis.com/css?family=Martel:200,300,400,600);

body {
	font-family: 'Martel', serif;
	color: #666666;
	overflow-x: hidden;
	overflow-y: scroll;
	font-weight: 300;
}

.typed {
	display: inline;
	color: #666666;
}

.wrapper {
	background-color: #b1cad1;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.intro, 
.fiction, 
.porkicons, 
.social {
	font-size: 1.5em;
}

.intro-text, 
.fiction-text {
	height: 10em;

}

.intro-button img, 
.fiction-button img {
	height: 2em;
}

.elasticstack .intro {
	background-color: #f1f1f1;
	line-height: 1.3em;
}

.elasticstack .fiction {
	color: #d4d4d4;
	background-color: #198987;
	line-height: 1.3em;
}

.elasticstack .porkicons {
	background-color: #8cabc2;
	line-height: 1.3em;
}

.elasticstack .social {
	background-color: #e94c5e;
	line-height: 1.3em;
}

.title {
	color: #2b2b2b;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}