body {
	background: url("../images/clampork/bg_design_mobile.jpg") no-repeat center bottom fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.back {
	background: #1a1a1a;
	height: 3em;
	width: 3em;
}
	.back img {
		padding: 0.5em;
	}

.title {
	padding: 10% 20%;
}

.text {
	padding: 0 10% 3%;
}
	.text p {
		color: #1a1a1a;
		font-family: 'Roboto Slab', sans-serif;
		font-size: 1em;
		font-weight: 100;
		letter-spacing: 0;
	}

.button-porkicons, .button-porkicons:visited {
	border-color: #1a1a1a;
	border-style: solid;
	border-width: 0.1em;
	color: #1a1a1a;
	font-family: 'Raleway', sans-serif;
	font-size: 0.75em;	
	font-weight: 700 !important;
	letter-spacing: 0.15em;
	padding: 0.75em;
	margin: 0 10%;
}
	.button-porkicons:hover {
		background: #1a1a1a;
		border-color: #1a1a1a;
		color: #e5e5e5;
		-moz-transition: all 0.5s !important;
		-o-transition: all 0.5s !important;
		-webkit-transition: all 0.5s !important;
		transition: all 0.5s !important;
	}

/* Media queries */

/* iPhone 6 landscape */
@media only screen and (orientation: landscape) {

	.title {
		padding: 0 30% 3%;
	}

	.text {
		padding: 0 10%;
	}

	.button-porkicons {
		margin: 0 30%;
	}


}